  <div class="news" id="news">
    <div class="container">
      <div class="news-top heading">
        <h3>LATEST NEWS</h3>
      </div>
      <div class="news-bottom">
        <div class="news-one">
        <div class="col-md-6 news-left">
          <div class="n-left">
            <%= image_tag("blog-1.png")%>
          </div>
          <div class="n-right">
            <h4>Sed Condimentum Enim Sem</h4>
            <p class="admin">commodo malesuada.</p>
            <p>Phasellus nec tellus tortor. Vivamus sagittis orci sit amet finibus dapibus. Suspendisse sit amet tempus nunc, id euismod nunc.Maecenas sit amet interdum massa, ut bibendum arcu.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-6 news-left">
          <div class="n-left">
            <%= image_tag("blog-2.png")%>
          </div>
          <div class="n-right">
            <h4>Sed Condimentum Enim Sem</h4>
            <p class="admin">commodo malesuada.</p>
            <p>Phasellus nec tellus tortor. Vivamus sagittis orci sit amet finibus dapibus. Suspendisse sit amet tempus nunc, id euismod nunc.Maecenas sit amet interdum massa, ut bibendum arcu.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        </div>
        <div class="news-one">
        <div class="col-md-6 news-left">
          <div class="n-left">
            <%= image_tag("blog-3.png")%>
          </div>
          <div class="n-right">
            <h4>Sed Condimentum Enim Sem</h4>
            <p class="admin">commodo malesuada.</p>
            <p>Phasellus nec tellus tortor. Vivamus sagittis orci sit amet finibus dapibus. Suspendisse sit amet tempus nunc, id euismod nunc.Maecenas sit amet interdum massa, ut bibendum arcu.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="col-md-6 news-left">
          <div class="n-left">
            <%= image_tag("blog-4.png")%>
          </div>
          <div class="n-right">
            <h4>Sed Condimentum Enim Sem</h4>
            <p class="admin">commodo malesuada.</p>
            <p>Phasellus nec tellus tortor. Vivamus sagittis orci sit amet finibus dapibus. Suspendisse sit amet tempus nunc, id euismod nunc.Maecenas sit amet interdum massa, ut bibendum arcu.</p>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
  <!--end-blog-->
  <!--start-events-->
  <div class="events" id="events">
    <div class="container">
      <div class="events-top heading">
        <h3>UPCOMING EVENTS</h3>
      </div>
      <div class="events-bottom">
        <div class="col-md-4 events-main">
          <div class="events-left">
            <%= image_tag("e-1.jpg")%>
            <div class="event-btm">
              <h4>March 14, 2014</h4>
            </div>
            <p>Duis accumsan risus id tellus viverra tincidunt. Quisque vel velit orci. Integer ante tellus, congue at convallis at, rhoncus ut massa.</p>
          </div>
        </div>
        <div class="col-md-4 events-main">
          <div class="events-left">
            <%= image_tag("e-2.jpg")%>
            <div class="event-btm">
              <h4>August 14, 2014</h4>
            </div>
            <p>Duis accumsan risus id tellus viverra tincidunt. Quisque vel velit orci. Integer ante tellus, congue at convallis at, rhoncus ut massa.</p>
          </div>
        </div>
        <div class="col-md-4 events-main">
          <div class="events-left">
            <%= image_tag("e-3.jpg")%>
            <div class="event-btm">
              <h4>May 14, 2014</h4>
            </div>
            <p>Duis accumsan risus id tellus viverra tincidunt. Quisque vel velit orci. Integer ante tellus, congue at convallis at, rhoncus ut massa.</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>